/*
    Global
*/

html, body {
    font-family: PT Sans, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

.title {
    color: rgb(226, 0, 75);
}

.diamond {
    width: 0;
    height: 0;
    border-color: #ccc;
    border-style: solid;
    border-width: 4px;
    transform: rotate(45deg);
}

.line {
    width: 30px;
    height: 1px;
    background-color: #ccc;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
}

/*
    Home
*/

#home {
    color: #eee;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
}

#home h1 {
    font-size: 52px;
    letter-spacing: 3px;
}

#home h4 {
    font-family: sans-serif;
}

#home h5 {
    font-size: 24px;
    letter-spacing: 5px;
    color: rgb(226, 0, 75);
}

#home i {
    color: #eee;
    font-size: 28px;
    transition-duration: 0.25s;
}

#home i:hover {
    color: rgb(226, 0, 75);
    transition-duration: 0.25s;
}

#home .button {
    padding: 15px 40px;
    border: 1px solid #eee;
    transition-duration: 0.25s;
}

#home .button:hover {
    transition-duration: 0.25s;
    border-color: rgb(226, 0, 75);
    background: rgb(226, 0, 75);
    cursor: pointer;
}

/*
    About
*/

#about ul {
    list-style: none;
}

#about li {
    display: flex;
}

#about h2 {
    font-size: 20px;
}

#about p {
    color: #555;
}

#about span {
    color: #555;
}

#about i {
    color: rgb(226, 0, 75);
    font-size: 16px;
}

#about #skills img {
    width: 36px;
    height: 36px;
}

#about .avatar {
    border-radius: 50%;
    max-height: 240px;
}

/*
    Timeline
*/

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item {
    padding: 40px 0;
    opacity: .3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    background-attachment: fixed;
    background-size: cover;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 46px;
    margin: 0;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

/*
    Portfolio
*/

#portfolio a {
    color: transparent;
    background: transparent;
    transition-duration: 0.5s;
}

#portfolio a:hover {
    color: #ddd;
    background: rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
}

.img-hover-zoom {
    height: 100%;
    overflow: hidden;
}

.img-hover-zoom img {
    z-index: -1;
    width: 100%;
    transition: transform .5s ease;
    transform: scale(1.5);
}

.img-hover-zoom:hover img {
    transform: scale(1.15);
}